# ----------------------------------------------------------------------
# Build Artifacts (Binaries & Object Files)
# ----------------------------------------------------------------------
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.lst
*.sym
*.srec

# ----------------------------------------------------------------------
# OS & Editor Clutter
# ----------------------------------------------------------------------
.vscode/
.DS_Store
